/* TEMP */
body {
  background-color: #f9f9f9;
  padding-top: 40px;
}

.container {

}
.node {
  color: #43853d;
}
.react {
  color: #61dafb;
}
.react-dark {
  color: rgb(9,73,108);
}
.redux {
  color: rgb(46,14,128);
}
article:target, div:target {
  padding-top: 40px;
}
a:hover {
  color: #61dafb;
  cursor: pointer;
}
a.navbar-brand {
  color: #23527c;
  &:hover {
    color: #61dafb !important;
  }
}
i.fa-quote-left {
  margin-right: 0.4em;
}
i.fa-quote-right {
  margin-left: 0.4em;
}
.secondary {
  display: none;
}
li:hover .secondary {
  display: inline;
  color: #777;
}
form span:before {
  display: inline-block;
  font-family: FontAwesome;
  content: '\F06A';
  margin-right: 5px;
}
form span.error {
  color: #a94442;
  font-weight: normal;
}
div.spinner {
  width: 16px;
  height: 16px;
  left: -8px;
  margin-left: 50%;
  margin-top: 100px;
}
